### This script simply reading the generated summaries from all 4 beam sizes and display the mean Recall, F1, Precision of Rouge-1, Rouge-2 and Rouge-L scores as pandas dataframe.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

beam2 = pd.read_csv('/content/drive/MyDrive/3 Generated Summaries/1f BART_finetuned on optimal hp/1f BART_finetuned on optimal hp_beam2.csv')
beam3 = pd.read_csv('/content/drive/MyDrive/3 Generated Summaries/1f BART_finetuned on optimal hp/1f BART_finetuned on optimal hp_beam3.csv')
beam4 = pd.read_csv('/content/drive/MyDrive/3 Generated Summaries/1f BART_finetuned on optimal hp/1f BART_finetuned on optimal hp_beam4.csv')
beam5 = pd.read_csv('/content/drive/MyDrive/3 Generated Summaries/1f BART_finetuned on optimal hp/1f BART_finetuned on optimal hp_beam5.csv')

In [3]:
F = pd.DataFrame(columns = ['beam_number', 'rouge1f', 'rouge2f', 'rougeLf'])
R = pd.DataFrame(columns = ['beam_number', 'rouge1r', 'rouge2r', 'rougeLr'])
P = pd.DataFrame(columns = ['beam_number', 'rouge1p', 'rouge2p', 'rougeLp'])

for beam_size, df in zip([2, 3, 4, 5], [beam2, beam3, beam4, beam5]):
    #### F ####
    f_mean = pd.DataFrame(df[['rouge1f', 'rouge2f', 'rougeLf']].mean()).T
    f_mean['beam_number'] = beam_size
    F = pd.concat([F, f_mean], sort = False)

    #### R ####
    r_mean = pd.DataFrame(df[['rouge1r', 'rouge2r', 'rougeLr']].mean()).T
    r_mean['beam_number'] = beam_size  
    R = pd.concat([R, r_mean], sort = False)

    #### P ####
    p_mean = pd.DataFrame(df[['rouge1p', 'rouge2p', 'rougeLp']].mean()).T
    p_mean['beam_number'] = beam_size    
    P = pd.concat([P, p_mean], sort = False)

In [4]:
R

  beam_number   rouge1r   rouge2r   rougeLr
0           2  0.516661  0.257201  0.468140
0           3  0.515848  0.257811  0.467152
0           4  0.512217  0.255562  0.464056
0           5  0.508796  0.252703  0.460941

In [5]:
F

  beam_number   rouge1f   rouge2f   rougeLf
0           2  0.290252  0.143864  0.290796
0           3  0.291322  0.145003  0.291436
0           4  0.290420  0.144471  0.290479
0           5  0.289339  0.143353  0.289260

In [6]:
P

  beam_number   rouge1p   rouge2p   rougeLp
0           2  0.210759  0.103917  0.218218
0           3  0.211803  0.104855  0.218977
0           4  0.211474  0.104664  0.218574
0           5  0.210898  0.103957  0.217868